# Visual Studio user files / cache
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Visual Studio package folders
[Pp]ackages/
*.nuget.props
*.nuget.targets

# Visual Studio test results
[Tt]estResults/
*.trx